 
.bg-image {
    background-image: url('0Q6udFa-mazda-rx7-fc-wallpapers.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10vh;
   
  }


  .bg-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 48px;
  }

.black-block {
    color: lightseagreen;
    --color-start: lightgreen;
    --color-end: #ffb3b3;
    background-image: linear-gradient(to bottom, var(--color-start), var(--color-end));
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    padding: 0px;
    text-align: center;
    height: 100vh;
   
}

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
}
.black-block h2 {
    font-size: 46px;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px lightseagreen; 
    -webkit-text-fill-color: lightseagreen;
}

.second-image {
    background-image: url('desktop-wallpaper-tree-alone-dark-evening-widescreen-high-definition-fullscreen-ultra-high-resolution-dark.jpg');
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .second-image-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 48px;
  }

.navbar {
    background-color: #333;
    overflow: hidden;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        float: left;
    }

        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .navbar li a:hover {
                background-color: #ddd;
                color: black;
            }

.navbar-logo {
    float: left;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .navbar li {
        float: none;
    }

        .navbar li a {
            display: block;
            text-align: left;
        }
}


